@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  /* Adjust based on your header height */
}

/* For better mobile experience */
@media (max-width: 768px) {
  html {
    scroll-padding-top: 60px;
  }
}

#mobile-menu {
  transition: all 0.3s ease-in-out;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

#mobile-menu:not(.hidden) {
  max-height: 300px;
  opacity: 1;
}


@layer utilities {
  .scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: #4F46E5 #1F2937;
  }
}

.fade-in {
  animation: fadeIn 0.6s ease-out forwards;
}

.gradient-text {
  background: linear-gradient(45deg, #4F46E5, #EC4899);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.gradient-fill {
  fill: linear-gradient(45deg, #4F46E5, #EC4899);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }

  33% {
    transform: translate(30px, -50px) scale(1.1);
  }

  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }

  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}